/* 全局样式 */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input { margin: 0; padding: 0; word-break: break-all; }
body, button, input, select, textarea { font: 12px/1.5 arial, 'MicroSoft YaHei', '宋体'; color:#545555}
body { position:relative}
ul, ol, li { list-style: none; }
img { border: none; }
input, img { vertical-align: middle; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
table { border-spacing: 0; border-collapse: collapse; }
em, i, address { font-style: normal; }
textarea { overflow-y: auto; }
input { outline: none; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: normal; }
/* 链接样式 */
a {text-decoration: none; color:#545555; }
a:hover { color:#000000;}
a, area { blr:expression(this.onFocus=this.blur())
}
:focus { outline: none; }

/*福利*/
.f-body{width:1053px; margin:0 auto}
