/* 全局样式 */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input { margin: 0; padding: 0; word-break: break-all; }
body, button, input, select, textarea { font: 12px/1.5 arial, 'MicroSoft YaHei', '宋体'; color:#545555}
body { position:relative}
ul, ol, li { list-style: none; }
img { border: none; }
input, img { vertical-align: middle; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
table { border-spacing: 0; border-collapse: collapse; }
em, i, address { font-style: normal; }
textarea { overflow-y: auto; }
input { outline: none; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: normal; }
/* 链接样式 */
a {text-decoration: none; color:#545555; }
a:hover { color:#000000;}
a, area { blr:expression(this.onFocus=this.blur())
}
:focus { outline: none; }
.col99{color:#999}
.blue,.blue a{color:#0078B7}
/* 浮动样式 */
.fl { float: left }
.fr { float: right }
.clear:after { content: ' '; clear: both; display: block; height: 0; visibility: hidden; line-height: 0 }
.clearFix:after { content: " "; display: block; visibility: hidden; height: 0; clear: both; }
.opacity{-moz-opacity:0.25;opacity:0.25;filter:alpha(opacity=25);}

/* 定位 */
.pos_r { position: relative; }
.pos_a { position: absolute; }
.mat10{margin:10px 0 0}
/* 字体 */
.yahei { font-family: "MicroSoft YaHei"; }
.sisong { font-family:"宋体"; }
.Arial { font-family: Arial, Helvetica, sans-serif; }
.red,.red a{color:#b4161d}
/*一处隐藏*/
.overflow { overflow: hidden; }
.f14 { font-size: 14px; }
.f16 { font-size: 16px; }
.f18 { font-size: 18px; }
.f12{font-size:12px}

.wrap{width:990px;text-align:left;margin:0 auto;}
.w945{width:945px;margin:0 auto}
.whiter,.whiter a{color:#fff}
.padt15{padding:15px 0 0}
.ac{ text-align:center}
.ar{ text-align:right}
.al{ text-align:left}

.mg{margin:0 8px}

.mt25{margin-top:25px}
.mt20{margin-top:20px;}
.mt15{margin-top:15px;}
.mt10{margin-top:10px;}
.mt5{margin-top:5px;}
.mt8{margin-bottom:8px;}
.white,.white a{color:#fff}
.strong{font-weight:bold}
.lin30{line-height:30px;}
.text{ text-indent:2em;}
.hide{ display:none}
.show{ display:block}
.ml5{ margin-left:5px}
.m25{ margin-left:25px}
.red,.red a{color:#ae2a23}
.yellow,.yellow a{color:#ed6c00}
.mg25{margin:0 25px;}
#mt20{margin-top:20px}
.white,.white a{color:#fff}
.mgle15{margin:0 0 0 15px;}
.c00{color:#000}
.w202{width:202px}
.w300{width:300px;}
.w250{width:250px; margin:0 auto}
.ml10{margin-left:10px;}
.mr10{margin-right:10px}
.pad4{padding:4px;}
.gray1,.gray1 a{color:#7c7c7c}
.col71,.col71 a{color:#717171}
.cola2,.cola2 a{color:#a2a2a2}
.colbb{color:#bbb;}
.l-ser{ background:url(../images/sear-bg.png) no-repeat;width:294px;height:34px;border:none; text-indent:10px;}
.auto-img{ padding:0 7px 0 5px;color:#f9bc00;line-height:42px;}
.l-serg{ position:absolute;width:37px;height:30px; top:1px;right:10px; cursor:pointer}
/*底部*/
.u-footer{background:url(../images/z-img2.jpg) repeat-x;padding:25px 0 0;margin:20px 0 0;line-height:24px;}
.u-footer a{margin:0 3px}
.bg-col{background:url(../images/k-footer.jpg) repeat-x;padding:25px 0}

/*右侧*/
.bottom-tools{width:64px; background:#8A8A8A;padding:5px 0 0; position:fixed;right:10px;top:50px;}
.bottom-tools  li{height:55px;margin:0 0 5px; cursor:pointer}
.bottom-tools .pf1{ background:url(../images/rd-bg2.png) no-repeat 0 -4px;}
.bottom-tools .pf2{ background:url(../images/rd-bg2.png) no-repeat 0 -60px;}
.bottom-tools .pf3{ background:url(../images/rd-bg2.png) no-repeat 0 -117px;}
.bottom-tools .pf4{ background:url(../images/rd-bg2.png) no-repeat -1px -173px;}
.bottom-tools .pf5{ background:url(../images/rd-bg2.png) no-repeat 0 -239px; margin:0}
.bord{border:1px solid #ddd;border-top:none}
.bords{border:1px solid #D9D9D9}

.green,.green a{color:#00953b}
#red-bg{ background:#A31813;color:#fff;border:none; }
/*分页*/
.page{ font-weight:bold;}
.page a{margin:0 3px;line-height:23px;}
.page a.on{ background:url(../images/round.png) no-repeat scroll 0 -33px; display:inline-block;width:21px;height:23px;color:#fff; text-align:center}
.page a.rgbg{color:#b1322b; font-size:16px;}

#fr{ float:right}
/*报错*/
.erro{ background:url(../images/error-bg.jpg) no-repeat center top;height:443px;padding:160px 0 0;color:#656e77}
.erro a{ background:url(../images/error-1.png) no-repeat; display:block;width:98px;line-height:36px;}
.erro p{margin:30px 0}

.note{white-space:pre-wrap;word-wrap:break-word;width:100%; font-family: "MicroSoft YaHei";}
