@charset "utf-8";
body,div,span,object,frame,h1,h2,h3,h4,h5,h6,p,blockquote,a,code,em,img,q,small,strong,dd,dl,dt,li,ol,ul,fieldset,form,label,table,tbody,tr,th,td,input{margin:0;padding:0}
a img, :link img, :visited img{border:0}
table{border-collapse:collapse}

body{background:#fff;font:12px "宋体";}
a{color:#005eac; text-decoration:none;}
a:hover{ color:Red; text-decoration:underline;}
ul{list-style:none}


.panel .nav{padding:0;color:#005EAC;}
.easyui-accordion ul{list-style-type:none;margin:0px; padding:10px;}
.easyui-accordion ul li{ padding:0px;}
.easyui-accordion ul li a{line-height:24px;}
.easyui-accordion ul li div.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}
.easyui-accordion ul li div.selected a{color:#416AA3; font-weight:bold;}
.easyui-accordion ul li div a{padding:1px 0 0 15px;display:block;border:1px solid #fff}
.easyui-accordion ul li div a:hover{display:block;background-color:#E0ECFF; text-decoration:none;border:1px solid #99BBE8}


.icon{ background:url(../images/tabicons.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-nav{background-position: -380px -80px; }


/* success & errors */
.messages_div,.errors_div{margin:10px;padding:10px;border:1px solid;text-align:center;line-height:20px;color:#000;font-family:宋体;}
.messages_div{border-color:#ffe222;background:#fffbe2}
.errors_div{border-color:#dd3c10;background:#ffebe8}



/*查看详情table样式*/
table.detailview { width:100%; line-height:26px;table-layout:fixed; font-size:12px}
table.detailview td {border:1px solid #ccc; padding:0px 4px; }
table.detailview td.info { width:120px;font-size:12px; font-weight:bold; text-align:right; }

table.editview { width:100%; line-height:26px;table-layout:fixed; font-size:12px}
table.editview td {padding:0px 4px; }
table.editview td.info { width:120px;font-size:12px; font-weight:bold; text-align:right; }

table.promodify { width:100%; line-height:30px; }
table.promodify td { padding:0px 4px; font-size:12px;}
table.promodify td.info { width:150px;font-size:12px; font-weight:bold; text-align:right; }

table.prolist { width:100%; line-height:26px;table-layout:fixed; font-size:12px}
table.prolist th, table.prolist td { border:1px solid #ccc; padding:0px 4px;text-align: center}
table.prolist th { background:#F4F4F4;}

.promodify .notice{color:red;}


/*Dialog*/
#dialog { width:457px; height:366px; background:url(../images/dialog_bg.png); margin:20px auto; font-size:14px; line-height:30px; color:#992600; }
#dialog .information { padding-top:150px; padding-left:90px; padding-right:90px; }
#dialog .buttons { text-align:center; padding:20px 0px; }
#dialog .buttons input { background:url(../images/button_dialog.gif); margin:0px 5px; width:70px; height:26px; border:none; }